.imageContainer {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	padding: 8px;
	border-radius: 8px;
	background-color: gray;
}
.actualImage {
	max-width: calc((100% - 10px) / 2);
	border-radius: 4px;
}