.imageContainer {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	padding: 8px;
	border-radius: 8px;
	background-color: gray;
}
.actualImage {
	max-width: calc((100% - 10px) / 2);
	border-radius: 4px;

	cursor: pointer; /*! + */
  transition: transform 500ms; /*! + */
  font-size: 1.1em;

}
.actualImage:hover {
    transform: scale(1.03);
    outline: 3px solid #ff9111;
}