.inputSearch {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.inputSearch:focus {
    border-color: #ff9100;
    outline: none;
    box-shadow: 0 0 5px #ff730066;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 260px;
    /* opacity: 0; */
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.card h3 {
    margin: 0 0 10px;
    color: #007bff;
}
/** Підсвічування тексту */
.highlight {
    background-color: yellow;
    font-weight: bold;
    color: #000;
    border-radius: 3px;
    padding: 0 2px;
}
.cardsCounter {
    width: max-content;
    margin: 20px auto;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: #995100;
}
